{% extends "main.html" %}

{% block title %}Login - Proyecto de Flask{% endblock %}

{% block content %}
  <div class="min-vh-100 d-flex flex-column justify-content-center align-items-center bg-light">
    <div class="w-25 p-3 bg-white shadow p-3 mb-5 rounded">
      <form action="" method="post" class="d-flex flex-column">
        <input
          type="text"
          placeholder="Nombre de Usuario"
          name="username"
          value="{{ request.form.username }}"
          class="p-2 m-2"  
        >
        <input type="password" placeholder="Contraseña vieja" name="old-password" class="p-2 m-2">
        <input type="password" placeholder="Contraseña nueva" name="new-password" class="p-2 m-2">
        <input type="password" placeholder="Contraseña nueva (Repetir)" name="new-password-repeat" class="p-2 m-2">
        <div class="mx-auto">
          <input class="btn btn-outline-primary m-2" type="submit" value="Cambiar la Contraseña">
          <a href="/auth/login" class="btn btn-outline-danger" role="button">Volver</a>
        </div>
      </form>
      {% if error %}
        <div class="m-2">
          <p><strong>ERROR:</strong> {{ error }}</p>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}