{% extends "main.html" %}

{% block content %}
  <div class="vh-100 mh-100">
    <!-- NAVBAR IMPLEMENTATION -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-2" style="height: 50px;">
      <!-- BRAND TITLE -->
      <span class="navbar-brand mb-0 h1">Navbar</span>

      <!-- OPTIONS -->
      <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/admin/users">Usuarios</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/analist/producers" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Productores
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/analist/producers">Lista</a>
              <a class="dropdown-item" href="/analist/producers/types">Tipo</a>
              <!-- <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a> -->
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="/admin/producers">Desactivado</a>
          </li>
        </ul>
        <div>
          <a href="/auth/logout" class="btn btn-danger" role="button">Log out</a>
        </div>
      </div>
    </nav>

    <!-- SIDEBAR IMPLEMENTATION -->

    <!-- CONTENT FOR ADMIN PANEL -->
    <div class="p-3 bg-light" style="height: calc(100vh - 50px);">
      <!-- ALERTS -->
      <div class="w-50 position-absolute" style="right: 15px;">
        {% include "admin/alert-danger.html" %}
      </div>

      <!-- CONTENT -->
      {% block admin_content %}{% endblock %}
    </div>
  </div>
{% endblock %}