{% extends "admin.html" %}

{% block title %} Admin - Manejo de Usuarios {% endblock %}

{% block admin_content %}
  <div class="h-100 d-flex flex-column justify-content-center align-items-center">
    <div class="p-3 bg-white shadow p-3 mb-5 rounded">
      <div class="mb-4 d-flex justify-content-between">
        <h2>Lista de Usuarios:</h2>

        <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#add-user-modal">
          Agregar Usuario
        </button>

        <!-- MODAL -->
        {% include "admin/users/add-user-modal.html" %}
      </div>

      <!-- HEADER -->
      <div class="row pb-2">
        <div class="form-group col-1">
          <p class="m-0">ID</p>
        </div>
        <div class="form-group col-2">
          <p class="m-0">Nombre de Usuario</p>
        </div>
        <div class="form-group col-3">
          <p class="m-0">Nombre(s)</p>
        </div>
        <div class="form-group col-3">
          <p class="m-0">Apellido(s)</p>
        </div>
        <div class="form-group col-2">
          <p class="m-0">Rol</p>
        </div>
        <div class="form-group col-1 mt-auto"></div>
      </div>

      <!-- CONTENT OF LIST -->
      <div style="overflow-y: auto; overflow-x: clip;">
        {% for user in all_users %}
          <form action="" method="post" key="{{ user.username }}">
            <div class="row my-3">
              <div class="form-group col-1">
                <fieldset disabled>
                  <!-- <label for="user-id-label">ID</label> -->
                  <input id="user-id-label" name="id" value="{{ user.id }}" class="form-control" />
                </fieldset>
              </div>
              <div class="form-group col-2">
                <!-- <label for="user-username-label">Username</label> -->
                <input id="user-username-label" name="username" value="{{ user.username }}" class="form-control" />
              </div>
              <div class="form-group col-3">
                <!-- <label for="user-name-label">First Name</label> -->
                <input id="user-name-label" name="name" value="{{ user.name }}" class="form-control" />
              </div>
              <div class="form-group col-3">
                <!-- <label for="user-last-name-label">Last Name</label> -->
                <input id="user-last-name-label" name="last_name" value="{{ user.last_name }}" class="form-control" />
              </div>
              <div class="form-group col-2">
                <!-- <label for="user-role-label">Role</label> -->
                <select id="user-role-label" class="form-control" name="role" value="{{ user.role }}">
                  <option>Admin</option>
                  <option>Analista</option>
                  <option>Comprador</option>
                </select>
              </div>
              <div class="form-group col-1 mt-auto">
                <button type="submit" id="{{ user.id }}" name="user-id" value="{{ user.id }}" class="btn btn-outline-primary">Edit</button>
              </div>
            </div>
          </form>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}